.principal{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.principal__formulario{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.principal__titulo{
    width: 30%;
    color: #9e6d4e;
    font-size: 3rem;
    text-wrap: nowrap;
    margin: 2rem 0rem;
}
.principal__formulario__assunto, .principal__formulario__mensagem{
    width: 100%;
    display: flex;
    align-items: center;
}
.principal__formulario__assunto__label{
    font-size: 1.9rem;
    margin: 4rem;
}
.principal__formulario__mensagem__label{
    font-size: 1.9rem;
    margin: 3rem;
}
.principal__formulario__assunto__texto{
    font-size: 1.5rem;
    width: 90%;
    height: 4rem;
    padding: 1rem;
    background-color: #9e6d4e;
    color: #fff9e1;
}
.principal__formulario__mensagem__texto{
    width: 100%;
    font-size: 1.3rem;
    padding: 1rem;
    background-color: #9e6d4e;
    color: #fff9e1;
    max-width: 60rem; 
    height: 8rem;
    resize: none;
}
.principal__formulario__botaoenviar{
    width: 20%;
    margin: 2rem 0rem;
    background-color: #9e6d4e;
    text-align: center;
    padding: 1.2rem 1rem;
    font-size: 1.3rem;
    border-radius: 2rem;
    color: #fff9e1;
}
